#video {
    position: absolute;
    background-color: grey;
    cursor: move;    
}

.Anchor {
    position: absolute;
    border: 2px solid #444;
    background-color: grey;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
}

#scaleAnchor {
    cursor: nesw-resize;
}
#topAnchor {
    cursor: s-resize;
}
#bottomAnchor {
    cursor: n-resize;
}
#leftAnchor {
    cursor: e-resize;
}
#rightAnchor {
    cursor: w-resize;
}

