html,
body {
    margin: 0;
    overflow: hidden;
}

#background {
    background-image: url(images/bach.jpg), url(images/bach.jpg);
    height: 100vh;
    width: auto;
    background-position: center;
    background-size: cover;
    z-index: 0
}

.settings {
    position: absolute;
    border-width: 0px;
    top: 70%;
    left: 72.3%;
    z-index: 1;
}

table,
th,
td {
    border: 0px solid white;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

table {
    transform: rotateX(35deg) skew(-6deg);
}

#slider {
    display: flex;
    text-align: center;
    transform: scale(0.5);
}

button {
    color: #000000;
}

input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
}

input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.5rem;
}

#video {
    position: absolute;
    cursor: move;
}

.Anchor {
    position: absolute;
    border: 2px solid #444;
    background-color: grey;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
}

#scaleAnchor {
    cursor: nesw-resize;
}

#topAnchor {
    cursor: s-resize;
}

#bottomAnchor {
    cursor: n-resize;
}

#leftAnchor {
    cursor: e-resize;
}

#rightAnchor {
    cursor: w-resize;
}

#leftArrow {
    position: absolute;
    transform: scale(0.23);
    top: 74%;
    left: 39%;
    font-size: 6em !important;
    border: none;
    color: rgb(33, 32, 32);
    cursor: pointer;
    z-index: 3;
}

#rightArrow {
    position: absolute;
    transform: scale(0.23);
    top: 74%;
    left: 49%;
    font-size: 6em !important;
    border: none;
    color: rgb(33, 32, 32);
    cursor: pointer;
    z-index: 3;
}

#curtainLeft {
    position: absolute;
    top: -14px;
    left: -1300px;
    z-index: 4;
}


#curtainRight {
    position: absolute;
    top: -14px;
    left: 1500px;
    z-index: 4;
}